@font-face {
    font-family: 'Mv Eamaan XP';
    src: url('../../fonts/MVEAMAANXP.TTF') format('truetype');
}

@font-face {
    font-family: FarumaFont;
    src:url(../../fonts/Faruma.ttf),url(../../fonts/Faruma.eot);
}

@font-face{ 
    font-family: "MVFaseyha"; 
    src: url(../../fonts/MV_Faseyha.eot); /* For IE */ 
    src: local("MV Faseyha"), url(../../fonts/mv_faseyha.ttf) format('truetype'); /* For non-IE */ 
}

@font-face{ 
    font-family: "faseyha"; 
    /*src: url(../../fonts/MV_Faseyha.eot); /* For IE */ */
    src: local("MV Faseyha"), url(../../fonts/mv_faseyha.ttf) format('truetype'); /* For non-IE */ 
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

textarea {
    overflow-y: hidden;
}

.dv {
    font-family: "MVFaseyha", "FarumaFont", "Faruma";
    direction: rtl;
    font-size: 18px ;
    line-height: 30px;
    color: #000;
    unicode-bidi: embed;
    direction: rtl;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.faseyha {
    font-family: "faseyha";
    direction: rtl;
    font-size: 18px ;
    line-height: 30px;
    color: #000;
    unicode-bidi: embed;
    direction: rtl;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.bg-info {
    background-color: #f1f1f1!important;
}

.underline {
    text-decoration: underline;
}

.underline:hover {
    color: #1EC9B8!important;
}

.underline-red {
    text-decoration: underline;
}

.underline-red:hover {
    color: #dc3545!important;
}

.inner-shadow {
    -moz-box-shadow:    inset 0 0 10px #f1f1f1;
   -webkit-box-shadow: inset 0 0 10px #f1f1f1;
   box-shadow:         inset 0 0 10px #f1f1f1;
}