<template>
    <div class="container">
        <div class="row justify-content-center p-3">
            <div class="col-md-12 bg-white p-3 pt-4 shadow-md">
                <div class="col-md-3">
                    <img src="/images/rect_logoEN.png" class="img-fluid" title="PO logo"/>
                </div>
                <div class="col-md-9">&nbsp;</div>

                <div class="col-md-12 mt-4 text-center mb-4">
                    <img src="images/thaanaocr-logo.svg" class="img-fluid" title="thaana ocr logo"><br/>
                    <div class="p-2 text-dark" style="font-size: 18px;">Extract Thaana text from pdf files and image files.</div>
                </div>

                        
                        

                        <div class="row justify-content-md-center mt-5 mb-0 pb-4">
                            <div class="col-sm-10 p-4 bg-light border rounded inner-shadow  pb-5" v-cloak @drop.prevent="addFile" @dragover.prevent>
                                <!-- <p class="text-dark mb-4 text-center" style="font-size: 18px;">Upload a .pdf or an image file (.jpg or .png) to extract its text.</p> -->

                            <input class="form-control invisible" type="file" id="fileUploader" @change="selectFile"/>

                            <label  for="fileUploader" class="d-block text-dark text-center cursor-pointer" style="cursor: pointer; text-align:center; font-size: 18px;">
      
        Drop a .pdf file or an image file (.jpg or .png) OR <span class="underline">click here</span> to select your file.
      
    </label>

    <div v-show="uploadFile" class="mt-3 text-center">
            <span class="pl-3 pr-3 bg-white rounded pt-1 pb-1" style="font-size: 15px;">{{ uploadFile.name }}</span> <span class="ml-3 underline-red" title="Remove file" style="cursor:pointer;" @click="removeFile"><i class="fa fa-close"></i></span>
    </div>

    <!-- <button class="btn btn-info" @click="uploadToBucket()">Bucket Test</button> -->
                        
                    </div>
                        </div>
                        <div class="text-center mb-5">
                        <button v-if="uploadFile" class="btn btn-primary pull-center mt-2 mb-2" @click="uploadToBucket()">
                            Extract Text
                        </button>
                    </div>

                        
                        

                        <div class="mt-5 pl-5 pr-5 mb-2" style="height: auto;">

                            <div v-if="isExtracting && error == ''" class="text-center p-4">
                                <img src="images/rolling-80px.gif"/><br/>
                                Extracting text. This may take a few seconds. Please wait...
                            </div>

                            <div v-if="error" class="text-center p-4 text-danger">
                                <h3>
                                    {{error}}
                                </h3>
                            </div>

                                


                            <div v-show="extractedText && !isExtracting && error == ''">

                                <hr style="clear:both;" />

                                <ul class="text-danger pl-3">
                                    <li>The extracted texts from the file are shown below.</li>
                                    <li>Please be aware that it might not be 100 percent accurate.<br/>
                                    It's the user's responsibility to compare the text with its original and bring changes if necessary.</li>
                                    <li>
                                        Please take note that this application DOES NOT STORE the uploaded files.
                                    </li>

                                </ul>

                                <button v-if="uploadPath == 'uploadpdf'" class="btn btn-sm btn-primary mb-2 pull-right" @click="downloadFile" title="Download pdf merged with original and ocr text"><i class="fa fa-download"></i> Download Merged PDF</button>


                                <textarea-autosize
                                    placeholder="Click to expand"
                                    ref="textBox"
                                    v-model="extractedText"
                                    :min-height="30"
                                    :max-height="6850"
                                    class="dv text-right form-control h-full mb-4"
                                />

                             <!-- <button class="btn btn-primary pull-right mt-2 mb-2" @click="copyText">Copy Text</button> -->
                             <input type="hidden" class="copy-text" v-model="extractedText">

                             <transition name="fade" v-on:enter="enterLeave">
                                    <span v-if="copiedMessage" class="text-white mt-2 mr-2 bg-success p-2 float-right pl-4 pr-4">{{ copiedMessage }}</span>
                            </transition>

                             <br style="clear:both;">
                            </div>
                            </div>
                        </div>
            </div>
        </div>
</template>

<script>

    // import CKEditor from '@ckeditor/ckeditor5-vue';

    import TextareaAutosize from 'vue-textarea-autosize'
 
    Vue.use(TextareaAutosize)

    // Vue.use( CKEditor );

    export default {

        /*
         * The component's data.
         */
        data() {
            return {
                uploadFile: '',
                extractedText: '',
                isExtracting: false,
                copiedMessage: '',
                hiddenText: '',
                uploadPath: 'upload',
                error: '',
                file: '',
                text: '',
                pages: [],
                originalFileName: '',
            }
        },

        methods: {

            uploadToBucket () {

                if (this.uploadFile.type == 'application/pdf') {
                    this.uploadPath = 'uploadpdf'
                } else {
                    this.uploadPath = 'upload'
                    this.sendFileData()
                    return
                }


                this.uploadPath = 'uploadpdf'
                this.isExtracting = true
                const form = new FormData();
                form.append('file', this.uploadFile);
                axios.post(this.uploadPath, form)
                .then(response => {

                        this.isExtracting = false
                        this.error = ''

                        
                            this.text = response.data.text
                            this.extractedText = this.text
                            this.file = response.data.file
                            this.originalFileName = response.data.originalFileName

                    })
                    .catch(error => {
                        if (error.response) {
                            if (error.response.data && error.response.data.errors) {
                                this.error = error.response.data.message
                                this.isExtracting = false
                            }
                        } 
                    });
            },

            testBucket () {
                axios.get('test-bucket')
                .then(response => {
                    this.extractedText = response.data.text
                        

                    })
                    .catch(error => {
                        
                    });
            },

            downloadFile () {


                let data = {
                    'file': this.file,
                    'text': this.extractedText,
                    'pages': this.pages,
                    'originalFileName': this.originalFileName
                }
                axios({
                    url: 'download',
                    method: 'POST',
                    responseType: 'blob',
                    data: data,

                }).then((response) => {
                     var fileURL = window.URL.createObjectURL(new Blob([response.data]))
                     var fileLink = document.createElement('a')

                     fileLink.href = fileURL
                     fileLink.setAttribute('download', this.originalFileName+'-D.pdf')

                     document.body.appendChild(fileLink)

                     fileLink.click();

                     this.removeFile()
                })
            },

            removeFile () {
                this.uploadFile = ''
                this.uploadPath = ''
            },

            addFile(e) {
                this.uploadFile = ''
              let droppedFile = e.dataTransfer.files;
              if(!droppedFile) return;

              this.uploadFile = e.dataTransfer.files[0];
              // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
              // ([...droppedFiles]).forEach(f => {
              //   this.files.push(f);
              // });
            },

            // handle file selection
            selectFile (event) {

                this.uploadFile = event.target.files[0];

                this.extractedText = ''
                this.error = ''
                this.isExtracting = false

                

            },

            // post uploaded file data to server
            sendFileData () {
                
                if (this.uploadFile.type == 'application/pdf') {
                    this.uploadPath = 'uploadpdf'
                } else {
                    this.uploadPath = 'upload'
                }

                this.isExtracting = true
                const form = new FormData();
                form.append('file', this.uploadFile);
                axios.post(this.uploadPath, form)
                .then(response => {

                        this.isExtracting = false
                        this.error = ''

                        if (this.uploadPath == 'upload') {
                            this.extractedText = response.data.text
                            this.file = ''
                        } else {
                            this.text = response.data.text
                            this.file = response.data.file
                            this.originalFileName = response.data.originalFileName
                            this.processMultiPageResponse(response.data.pages)
                        }

                    })
                    .catch(error => {
                        if (error.response) {
                            if (error.response.data && error.response.data.errors) {
                                this.error = error.response.data.message
                                this.isExtracting = false
                            }
                        } 
                    });
            },

            // process pages for multiple page documents
            processMultiPageResponse (data) {
                let text = ''
                this.pages = data
                $.each(data, function(key, value) {
                     text += value.text
                   });

                this.extractedText = text
                
            },

            copyText (event) {
                let targetElem = event.currentTarget.nextElementSibling;

                targetElem.setAttribute('type', 'textarea')
                targetElem.select()

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful'
                    this.copiedMessage = 'TEXT copied to clipboard!'
                    // alert(this.copiedMessage);
                } catch (err) {
                    alert('Oops, unable to copy');
                }

                /* unselect the range */
                targetElem.setAttribute('type', 'hidden')
                window.getSelection().removeAllRanges()
            },

            // animate copy message
            enterLeave (el, done) {
                let view = this;
                setTimeout(function() {
                    view.copiedMessage = ''
                }, 3000); // hide the message after 2 seconds
            },

        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.underline-red {
    color: red;
    text-decoration: none;
}
.underline-red:hover {
    text-decoration: underline;
}
</style>
