<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header bg-dark text-white pt-4 text-center"><h2>THAANA OCR</h2></div>

                    <div class="card-body">
                        <p class="text-dark" style="font-size: 18px;">
                            Use this application to extract "Thaana" text from pdf files and image files.
                        </p>
                        <p class="text-dark mb-4" style="font-size: 18px;">Upload a .pdf or an image file (.jpg or .png) to extract its text.</p>


                        <input class="form-control" type="file" id="upload" @change="selectFile"/>
                        
                        <button v-if="uploadFile" class="btn btn-primary pull-right mt-2 mb-2" @click="sendFileData()">
                            Extract Text
                        </button>
                        <hr style="clear:both;" />

                        <div class="mt-4" style="height: auto;">

                            <div v-if="isExtracting && error == ''" class="text-center p-4">
                                <img src="images/rolling-80px.gif"/><br/>
                                Extracting text. This may take a few seconds. Please wait...
                            </div>

                            <div v-if="error" class="text-center p-4 text-danger">
                                <h3>
                                    {{error}}
                                </h3>
                            </div>

                            <div v-show="extractedText && !isExtracting && error == ''">

                                <ul class="text-danger pl-3">
                                    <li>The extracted texts from the file are shown below.</li>
                                    <li>Please be aware that it might not be 100 percent accurate.<br/>
                                    It's the user's responsibility to compare the text with its original and bring changes if necessary.</li>
                                    <li>
                                        Please take note that this application DOES NOT STORE the uploaded files.
                                    </li>

                                </ul>

                                <textarea-autosize
                                    placeholder="Click to expand"
                                    ref="textBox"
                                    v-model="extractedText"
                                    :min-height="30"
                                    :max-height="6850"
                                    class="dv text-right form-control h-full mb-4"
                                />

                             <!-- <button class="btn btn-primary pull-right mt-2 mb-2" @click="copyText">Copy Text</button> -->
                             <input type="hidden" class="copy-text" v-model="extractedText">

                             <transition name="fade" v-on:enter="enterLeave">
                                    <span v-if="copiedMessage" class="text-white mt-2 mr-2 bg-success p-2 float-right pl-4 pr-4">{{ copiedMessage }}</span>
                            </transition>

                             <br style="clear:both;">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    // import CKEditor from '@ckeditor/ckeditor5-vue';

    import TextareaAutosize from 'vue-textarea-autosize'
 
    Vue.use(TextareaAutosize)

    // Vue.use( CKEditor );

    export default {

        /*
         * The component's data.
         */
        data() {
            return {
                uploadFile: '',
                extractedText: '',
                isExtracting: false,
                copiedMessage: '',
                hiddenText: '',
                uploadPath: 'upload',
                error: ''
            }
        },

        methods: {

            // handle file selection
            selectFile (event) {

                this.uploadFile = event.target.files[0];

                this.extractedText = ''
                this.error = ''
                this.isExtracting = false

                if (this.uploadFile.type == 'application/pdf') {
                    this.uploadPath = 'uploadpdf'
                } else {
                    this.uploadPath = 'upload'
                }

            },

            // post uploaded file data to server
            sendFileData () {
                this.isExtracting = true
                const form = new FormData();
                form.append('file', this.uploadFile);
                axios.post(this.uploadPath, form)
                .then(response => {

                        this.isExtracting = false
                        this.error = ''

                        if (this.uploadPath == 'upload') {
                            this.extractedText = response.data.text
                        } else {
                            this.processMultiPageResponse(response.data.pages)
                        }

                    })
                    .catch(error => {
                        if (error.response) {
                            if (error.response.data && error.response.data.errors) {
                                this.error = error.response.data.message
                                this.isExtracting = false
                            }
                        } 
                    });
            },

            // process pages for multiple page documents
            processMultiPageResponse (data) {
                let text = ''
                $.each(data, function(key, value) {
                     text += value.text
                   });

                this.extractedText = text
            },

            copyText (event) {
                let targetElem = event.currentTarget.nextElementSibling;

                targetElem.setAttribute('type', 'textarea')
                targetElem.select()

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful'
                    this.copiedMessage = 'TEXT copied to clipboard!'
                    // alert(this.copiedMessage);
                } catch (err) {
                    alert('Oops, unable to copy');
                }

                /* unselect the range */
                targetElem.setAttribute('type', 'hidden')
                window.getSelection().removeAllRanges()
            },

            // animate copy message
            enterLeave (el, done) {
                let view = this;
                setTimeout(function() {
                    view.copiedMessage = ''
                }, 3000); // hide the message after 2 seconds
            },

        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
